@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-light-grey:#f4f4f4;
  --primary-grey:#ccd1d9;
  --primary-dark-grey:#666666;
  --primary-orange:#f9ab00;
  --primary-dark:rgb(52,58,64);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
  --primary-black:#000000;
  
}

body{
  font-family:"Roboto Condensed" ,sans-serif !important; 
}

nav{
  z-index: 2;
}

/*********NAVBAR LINKS********/
nav a.nav-link{
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing :0.0375rem
  ;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav> li >a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
color :var(--primary-white) !important;
border-top:0.1875rem solid var(--primary-dark);
}
.navbar-nav >li >a.active , .navbar-nav > li >a:focus{

  border-top:0.1875rem solid var(--primary-orange);
}
.navbar-brand{
  color :var(--primary-orange) !important;

}
.navbar-nav >li>a:hover{
  border-top:0.1875rem solid var(--primary-orange);

}

.header-wrapper{
  position: relative;
  background: url(laptop-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info{
  display: flex;
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:"Roboto Condensed" ,sans-serif;
  z-index: 1;
}
.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}
@media(max-width:768px){
  .main-info h1{
    font-size: 1.5rem !important;
    
  }
  .typed-text{
    font-size: 1.3rem !important;
    
  }
}
.typed-text{
  font-size:2rem;
  font-weight: 200;
}

.btn-main-offer{
border:1px solid var(--primary-orange);
text-transform:uppercase;
border-radius: 0;
padding: 0.625rem 0.75rem 0.75rem,0.75rem;
color: var(--primary-white);
margin-top: 2rem;

}
.btn-main-offer:hover{
text-decoration: none;
background-color: var(--primary-orange);
color:var(--primary-white);
transition: .2s ease-in-out;

}

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
z-index: 1;
}

@media(max-width:768px){
  .particles-canvas{
    display: none;
  }
}

.photo-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  width:16rem;
  height: 14rem;
  border-radius:50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}
.about-heading{
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media (max-width:468px) {
 .profile-img{
  width: 10rem;
 } 
}

/* *******************Experience************** */

.experience-wrapper{
position: relative;
padding: 3.125rem 0;
overflow: hidden;
}

.experience{
  padding: 0.7rem;
}
.experience h1{
  text-transform: uppercase;
  color: var(--primary-orange);
}
.experience-wrapper::before{
  position: absolute;
  content: "";
  top:0;
  left:50%;
  margin-left:-0.0625rem;
  width: 0.125rem;
  height: 100%;
  background-color: var(--primary-grey);
  z-index: 1;

}
.timeline-block{
width: calc(50% + 0.5rem);
display: flex;
justify-content: space-between;
clear: both;
}
.timeline-block-right{
  float: right;
}
.timeline-block-left{
  float: left;
  direction: rtl;
}
.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border :0.3125rem solid var(--primary-dark-grey);
  background:var(--primary-orange) ;
  margin-top: 0.625rem;
  z-index: 3;
}
.timeline-content{
  width:95%;
  padding: 0 0.9375rem;
  color:var(--primary-dark-grey);
  direction: ltr;
}
.timeline-content h3{
 margin-top: 0.3125rem;
 color: var(--primary-red);
 font-weight: 900;
}
/*-----media----*/
@media (max-width:768px) {
  .experience .container{
    padding-left: 0;
  }
  .experience-wrapper::before{
    left:0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;

  }
}

/* ***********portfolio************* */

.portfolio-wrapper{
  background:var(--primary-light-grey);
  padding:3rem 0;

}
.portfolio-image{
  width: 15rem;
  border:1px solid var(--primary-orange);
padding:0 0.5rem
}
.portfolio-image-box{
  position:relative ;
  margin: 1rem;
}

.overflow{
  position:absolute;
  opacity: 0;
  background:var(--primary-black) ;
  width: 15rem;
  height: 8.5rem;
  top:0;
  border:1px solid var(--primary-red);
  cursor:pointer;
}
.portfolio-image-box:hover .overflow{
opacity: 60%;
transition: 0.3s ease-in-out;
}

.portfolio-icon{
  position:absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}
.portfolio-image-box:hover .portfolio-icon{
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio-image-popupbox{
  width:40rem;
  padding: 0 0.5rem;
}

.hyper-link{
  cursor: pointer;
  color:var(--primary-orange)
}
.hyper-link:hover{
  cursor: pointer;
  color: var(--primary-hover-red);
}
.popoutbox-wrapper{
 margin-top: 5rem;
}
/* media popout */

@media (max-width:768px) {
  .portfolio-image-popupbox{
    width:100%
  }
}

@media (max-height:570px) {
  .popoutbox-wrapper{
    height: 100% !important
  }
  .portfolio-image-popupbox{
    width:50%
  }
}

@media (max-height:280px) {
  .popoutbox-wrapper{
    height: 90% !important
  }
  .portfolio-image-popupbox{
    width:30%
  }
}

/* Contact */
.contacts{
  background:var(--primary-dark);
  padding: 3rem 0;


}

.contacts h1{
  color: var(--primary-orange);
  padding:1.3rem 0;
  text-transform: uppercase;
}
/* .contacts input , .contacts textarea{
  width:100%;
  box-sizing: border-box;;
  background: none;
  border:none;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  color:var(--primary-orange);
  border-radius: 0;
  outline: 0 !important;
  box-shadow: 0 i !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}
.contacts .container{
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus{
  background: transparent;
  color:var(--primary-orange);
  border-bottom:0.125rem solid var(--primary-dark-grey); ;
}
.contacts textarea{
  height: 12.4rem !important;
}

.contact-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

@media (max-width:768px) {
  .contacts {
    overflow-x:hidden ;
  }
  .contacts .container{
    padding:0 1rem;
  }
} */
a.icon{
margin :0 2rem;
transition: transform 250ms;
display: inline-block;
}
a.icon:hover{
  transform: translateY(-2px);
}

.techskills{
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}
.techskills h1{
  color: var(--primary-dark);
  text-transform: uppercase;
}
.techskills h3{
 font-weight: bold;
}
.techskills .circle{
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  width:3.125rem ;
  height: 3.125rem;
  border-radius: 50%;
}
.techskills .skillsicon{
font-size: 1.4rem;
color: var(--primary-white);
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}
.techskills .box{
  height: 24rem;
  border-bottom: 6px solid var(--primary-orange);
  padding:0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);

}
.techskills .box:hover{
  background: var(--primary-orange);
  border-bottom: 6px solid var(--primary-dark);
}
.techskills .box:hover .skillsicon{
  color: var(--primary-dark);
}
.techskills .box:hover .circle{
  background: var(--primary-white);
}
.techskills .box:hover h4{
  color: var(--primary-white);
}

/* FOOOTER */

.footer{
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding:3rem;
}
.footer a{
  text-decoration: none;
  color: var(--primary-dark-grey);
}
.footer a:hover{
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}
.footer p{
  margin: 0;
}